<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Stocks Thing</title>
        <link rel="stylesheet" href="href="http://yui.yahooapis.com/pure/0.4.2/puremin.css"">
    </head>
    <body>
