<% include header %>
<h1>Stocks Ting</h1>
<h2>Choose your spreadsheet:</h2>
<ul class="files pure-menu-list">
    <% files.forEach(([fileName, extension]) => { %>
        <li class="pure-menu-item">
            <a href="/load?fileName=<%= fileName %>&extension=<%= extension %>"><%= `${fileName}.${extension}` %></a>
        </li>
    <% }); %>
</ul>
<% include footer %>
