table {
    margin: 2em auto;
}

th {
    text-align: center;
}

#filter {
    margin-top: 2em;
}

#highlight-options {
    margin: 1em auto;
    max-width: 768px;
}

.header {
    cursor: pointer;
}

.hide {
    display: none;
}
